apiVersion: apps/v1
kind: Deployment
metadata:
  name: upload-ui
  namespace: demo
  labels:
    app: upload-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: upload-ui
  template:
    metadata:
      labels:
        app: upload-ui
    spec:
      containers:
        - name: nginx
          image: nginx:alpine
          ports:
            - containerPort: 80
              name: http
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html
          resources:
            requests:
              memory: 64Mi
              cpu: 50m
            limits:
              memory: 128Mi
              cpu: 100m
      volumes:
        - name: html
          configMap:
            name: upload-ui-html
