apiVersion: v1
kind: Service
metadata:
  name: mock-api
  namespace: demo
  labels:
    app: mock-api
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30090
      protocol: TCP
      name: http
  selector:
    app: mock-api
